#
# This file is part of THM Addons — https://github.com/Leonn170709/THM-Addons
# Copyright (c) THM Addons contributors. Credit the devs, keep the link.
#

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
ij_continuation_indent_size = 4

[*.{json,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
